* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-image: url(../img/main-bg.jpg);
    background-attachment: fixed;
    padding-left: 390px;
    padding-top: 175px;
}

li {
    list-style-type: none
}

a {
    text-decoration: none;
}

.df {
    display: flex
}

.fdc {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.aifs {
    align-items: flex-start;
}

.jcsb {
    justify-content: space-between;
}

.fg1 {
    flex-grow: 1;
}

.fww {
    flex-wrap: wrap;
}

.fs12 {
    font-size: 12px;
}

.fw600 {
    font-weight: 600;
}

.cs {
    color: silver
}

.ttu {
    text-transform: uppercase;
}

@import "./fonts";
@import "./header";
@import "./hero";
@import "./description";